{% extends '::base.html.twig' %}


{% block page %}

    <h1 class="text-center title headerpagehome">
        {{ 'views.user.resetting.checkemail.title'|trans }}
    </h1>


    <div class="row ">
        <div class="small-8 small-centered columns panel">
            <h4 class="alert-box success text-center">
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </h4>
        </div>
    </div>
{% endblock page %}
