{% extends '::base.html.twig' %}

{% block page %}

    <h1 class="text-center title headerpagehome">
        {{ 'views.user.resetting.request.title'|trans }}
    </h1>

    <h2 class="alert-box alert text-center">
        {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
    </h2>

{% endblock page %}
