{% extends "::base.html.twig" %}

{% block page %}

    <h1 class="text-center title headerpagehome">
        {{ 'views.user.resetting.reset.title'|trans }}
    </h1>

	{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}

{% endblock page %}
